* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	outline-style: none;
	outline: none;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #8b929a;
	font-size: 12px;
	user-select: none;
}
header {
	height: 80px;
	width: 100vw;
	position: fixed;
	background-color: #171d25;
	z-index: 51;
	padding: 5px;
	padding-right: 13px;
}
.header-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 85%;
}
.header-list {
	display: flex;
}
.header-list svg {
	fill: #67707b;
	cursor: pointer;
	transition: fill 0.2s;
}
.header-list svg:hover {
	fill: #fdfff4;
}
#header-list-content {
	margin-left: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
}
#header-list-content label {
	font-size: 18px;
	cursor: pointer;
	color: #dcdedf;
}
#header-list-content label:hover {
	color: #fdfff4;
}
#header-list-content input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
#header-list-content input[type="radio"] + label {
	position: relative;
	transition: color 0.25s;
}
#header-list-content input[type="radio"] + label::after {
	content: "";
	display: block;
	background: #1a9fff;
	height: 3px;
	width: 0%;
	transition: width 0.1s ease, left 0.1s ease;
	position: absolute;
	bottom: -5px;
	left: 50%;
	border-radius: 3px;
}
#header-list-content input[type="radio"]:checked + label {
	color: #1a9fff;
}
#header-list-content input[type="radio"]:checked + label::after {
	width: 100%;
	left: 0;
}
.list {
	display: flex;
	justify-content: space-between;
}
.list .format-list {
	display: flex;
	gap: 10px;
}
.list .format-list li {
	font-size: 12px;
	color: #8b929a;
	cursor: pointer;
	transition: color 0.2s;
}
.format-list li:hover {
	color: #ddd;
}
.profile {
	display: flex;
	align-items: center;
	gap: 8px;
}
.campaign {
	cursor: pointer;
	background: #1999ff;
	height: 24px;
	width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	transition: background 0.1s;
}
.campaign:hover {
	background: #4cb0ff;
}
.notifications {
	cursor: pointer;
	background: #272d37;
	height: 24px;
	width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	transition: background 0.1s;
}
.notifications:hover {
	background: #3d4450;
}
.profile-card {
	cursor: pointer;
	background: #272d37;
	height: 23px;
	min-width: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 2px;
	position: relative;
	transition: background 0.1s;
	padding-right: 3px;
}
.profile-card > span {
	margin-left: 33px;
	margin-right: 3px;
}
.profile-card::before {
	content: "";
	background-color: #222;
	border: 1px solid #363b44;
	border-radius: 2px;
	position: absolute;
	width: 24px;
	height: 24px;
	margin-left: 2px;
}
.profile-card:hover {
	background: #203a50;
}
.interrogation {
	position: absolute;
	left: 8px;
}
.picture {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 30px;
	cursor: pointer;
	border-radius: 2px;
}
.picture:hover {
	background: #3d4450;
}
.picture:hover svg {
	fill: #eee;
}
.zindex {
	z-index: 50;
}
aside {
	width: 350px;
	height: 100%;
	border-right: 2px solid #171d25;

	background-color: #272c34;

	position: relative;
}
.aside-fixed {
	width: 100%;
	position: absolute;
}
.page-initial {
	background: #171d25;
	width: 100%;
	height: 40px;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	position: relative;
	z-index: 10;
}
.page-initial::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -7px;
	height: 7px;
	width: 100%;
	background: linear-gradient(to bottom, #171d25aa, #171d2500);
}
.page-initial div:first-child {
	display: flex;
	align-items: center;
	color: #eee;
	padding: 10px;
	background: linear-gradient(to right, #3e4047, #484a50);
	height: 100%;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
}
.page-initial div:nth-child(2) {
	background-color: #25272d;
	height: 30px;
	width: 40px;
	margin-right: 1px;
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3px;
	padding: 5px;
	transition: background 0.2s;
}
.page-initial div:nth-child(2):hover {
	background: #3d3f46;
}
.page-initial div:nth-child(2) a {
	height: 9px;
	width: 9px;
	background: #4c4d50;
	transition: background 0.2s;
}
.page-initial div:nth-child(2):hover a {
	background: #fff;
}
.menu {
	background: linear-gradient(45deg, #262b32, #2b3039);
	height: 90px;
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.menu-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 30px;
}
.games-softwares {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #25272c;
	min-width: 80%;
	height: 100%;
	padding: 0 10px;
	border-radius: 5px;
	transition: background 0.2s;
}
.games-softwares:hover {
	background: #3e4047;
}
.games-softwares > div {
	transition: color 0.2s;
}
.games-softwares:hover > div {
	color: #eee;
}
.games-softwares > svg {
	transition: fill 0.2s;
}
.games-softwares:hover > svg {
	fill: #eee;
}
.menu-search {
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: space-between;
	background: #24262b;
	border-radius: 5px;

	height: 45%;
	width: 100%;
}
.search {
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
}
.search svg:first-child {
	position: absolute;
	left: 5px;
}
.search svg:last-child {
	opacity: 0;
	position: absolute;
	right: 5px;
	transition: opacity 0.2s;
	cursor: pointer;
	pointer-events: none;
}
.search input {
	width: 100%;
	height: 100%;
	padding-left: 33px;
	background: transparent;
	color: #eee;
	border-radius: 5px;
	transition: background 0.1s, box-shadow 0.1s;
}
.search input:hover,
.search input:focus {
	box-shadow: inset 3px 3px 5px #151719;
}
.search input:hover {
	background: #1d2026;
}
.search input:focus + svg:last-child {
	opacity: 1;
	pointer-events: auto;
}
.search input + svg:last-child:hover {
	fill: #eee;
}
.games-icons {
	cursor: pointer;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.games-icons svg {
	transition: fill 0.2s;
}
.games-icons:hover svg {
	fill: #eee;
}
.game-icons-list {
	width: 35px;
	border-radius: 5px;
}
.game-icons-list:hover {
	background: #3e4047;
}
.game-list {
	height: 100%;
	padding-top: 130px;
	padding-bottom: 55px;
}
.game-list > div {
	height: 100%;
	overflow-y: auto;
}
.favorite {
	width: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.favorite * {
	cursor: pointer;
	user-select: none;
}
.favorite input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.favorite label {
	color: #eee;
}
.div-plus {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 25px;
	height: 100%;
	width: 100%;
	position: relative;
	margin-bottom: 3px;
}
.div-plus label label {
	color: #8b929a;
}
#plus,
#plus2 {
	height: 100%;
	grid-column: span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2d3546;
}
.plus {
	height: 2px;
	width: 10px;
	background: #8499b2;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	margin-left: 13px;
	margin-top: 10px;
}

.plus::after {
	display: block;
	content: "";
	height: 10px;
	width: 2px;
	background: #8499b2;
	transition: height 0.3s;
}
.name-plus {
	grid-column: span 6;
	width: 100%;
	padding-top: 5px;
	background: linear-gradient(to right, #2d3546, #262a3200);
	font-size: 12px;
}
.name-plus:hover ~ .plus,
.name-plus:hover ~ .plus::after,
#plus:hover ~ .plus,
#plus:checked ~ .plus,
#plus:hover ~ .plus::after,
#plus:checked ~ .plus::after #plus2:hover ~ .plus,
#plus2:checked ~ .plus,
#plus2:hover ~ .plus::after,
#plus2:checked ~ .plus::after {
	background: #eee;
}
.div-plus input[type="checkbox"]:checked + .plus::after {
	content: "";
	height: 0px;
	width: 2px;
}
.hidden {
	grid-column: span 7;
	display: flex;
	justify-content: start;
	flex-direction: column;
	gap: 4px;
	overflow: hidden;
}
#plus ~ .hidden {
	height: 0;
}
#plus:checked ~ .hidden {
	height: 100%;
	overflow-y: auto;
}
#plus2 ~ .hidden {
	height: 0;
}
#plus2:checked ~ .hidden {
	height: 100%;
	overflow-y: auto;
}
.game-list-hidden {
	margin-top: 2px;
	padding-left: 20px;
	padding-right: 10px;
	min-height: 22px;
	max-height: 22px;
	display: flex;
	align-items: center;
	gap: 5px;
}
.game-list-hidden:hover {
	background: #323a4b;
}
.game-list-hidden span {
	font-size: 13px;
}
.game-list-hidden img {
	width: 20px;
	border-radius: 2px;
	object-fit: cover;
}
nav {
	height: 323px;
	background: linear-gradient(to bottom, #2c323b, #171d25);
	padding-left: 25px;
	padding-right: 10px;
	overflow: hidden;
}
.nav-header {
	width: 100%;
	height: 45px;
	display: flex;
	padding-right: 25px;
	justify-content: space-between;
	align-items: center;
}
.nav-header div {
	display: flex;
	align-items: center;
	gap: 5px;
}
.nav-header span {
	font-size: 17px;
	color: #ddd;
}
.nav-header svg {
	fill: #67707b;
	cursor: pointer;
	transition: fill 0.2s;
}
.nav-header svg:hover {
	fill: #fdfff4;
}
.nav-scroll {
	overflow-x: auto;
	white-space: normal;
	height: 255px;
	width: 100%;
	display: flex;
	gap: 20px;
}
.nav-card {
	flex-shrink: 0;
	width: 320px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.nav-card .span-content {
	height: 30px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; /* Número de linhas desejadas */
	text-overflow: ellipsis;
	white-space: normal;
}
.nav-card-img {
	height: 175px;
	position: relative;
	overflow: hidden;
}
.nav-card-img img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
	object-fit: cover;
	transition: filter 0.4s, transform 0.4s;
}
.nav-card-img section {
	opacity: 0;
	height: 100%;
	width: 100%;
	transition: opacity 0.4s;
}
.nav-card-img section svg{
	border-radius: 3px;
	background: #e5e5e5;
	position: absolute;
	right: 1px;
	top: 5px;
	transition: right 0.2s;
}
.nav-card-img section svg:hover{
	background: #67c1f5;
	fill: #fff;
}
.nav-card-img section .full-span {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #022241bb;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 20px;

}
.nav-card-img section .full-span span:first-child{
	color: #248ee8;
	font-size: 17px;
}
.nav-card-img section .full-span span:last-child{
	font-size: 15px;
	font-weight: normal;
	line-height: 20px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4; /* Número de linhas desejadas */
	text-overflow: ellipsis;
	white-space: normal;
}
.nav-card-img:hover section {
	opacity: 1;
}
.nav-card-img:hover img {
	filter: blur(5px);
	transform: scale(0.98);
}
.nav-card-img:hover section svg{
	right: 5px;
}
.nav-card section {
	background: #282e35;
	height: 23px;
	width: fit-content;
	padding-right: 5px;
	display: flex;
	align-items: center;
	gap: 5px;
	border-radius: 3px;
	cursor: pointer;
}
.nav-card section img {
	height: 25px;
	width: 25px;
	border-radius: 2px;
}
.nav-card section:hover {
	background: #5f656b;
}
.nav-card section:hover span {
	color: #eee;
}

.container {
	display: flex;
	padding-top: 80px;
	height: 100vh;
}
.mincontainer {
	width: 100vw;
	overflow-y: auto;
	background-color: #2c323b;
}
main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 25px;
	width: 100%;
	padding: 50px;
	padding-bottom: 100px;
}
.container-card {
	position: relative;
	display: flex;
	justify-content: center;
	min-width: 200px;
	min-height: 300px;
	max-width: 200px;
	max-height: 300px;
}
.card {
	margin: 0 10px;
	position: relative;
	display: flex;
	justify-content: center;
	transition: transform 0.3s;
	overflow: hidden;
	box-shadow: 0 0 15px #333333;
	cursor: pointer;
}
.card::before {
	content: "";
	background-color: #ffffff22;
	box-shadow: 0px 0px 30px #ffffff44;
	width: 300px;
	height: 200px;
	position: absolute;
	top: -140px;
	right: -120px;
	transition: right 0.3s, top 0.3s, background-color 0.3s, box-shadow 0.3s;
	transform: rotate(30deg);
	z-index: 10;
}
.card:hover {
	transform: perspective(500px) rotateX(5deg) scale(1.06);
}
.card:hover::before {
	position: absolute;
	right: -90px;
	top: -60px;
	background-color: #ffffff44;
	box-shadow: 0px 0px 30px #ffffff88;
	z-index: 10;
}
.horas-game {
	position: absolute;
	padding: 3px 10px;
	border-radius: 3px;
	background-color: #3d4455;
	transform: scale(1);
	transition: transform 0.3s, bottom 0.3s;
	bottom: -5px;
	user-select: none;
	color: white;
}
.card:hover + .horas-game {
	transform: scale(1.1);
	transition: transform 0.3s, bottom 0.3s;
	bottom: -15px;
}
img {
	width: 100%;
	object-fit: cover;
}
footer {
	padding: 0 20px;
	height: 50px;
	width: 100vw;
	position: fixed;
	bottom: 0;
	background: #171d25;
	border: 1px solid #303641;
	z-index: 51;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer div {
	color: #8b929a;
	cursor: pointer;
	transition: color 0.2s;
	display: flex;
	align-items: center;
	gap: 5px;
}
footer div span,
footer div svg {
	transition: color 0.2s, fill 0.2s;
}
footer div:hover span,
footer div:hover svg {
	color: #ddd;
	fill: #ddd;
}
::-webkit-scrollbar {
	width: 8px;
	height: 0px;
}
::-webkit-scrollbar-track {
	background: #202529;
}
::-webkit-scrollbar-thumb {
	background: #606774;
	border-radius: 15px;
	border: 1px solid #202529;
}
::-webkit-scrollbar-thumb:hover {
	background: #7b8392;
}